*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #313133;
    min-height: 100vh;
    color: white; 
}

.start-screen h1{
    text-align: center;
}

.start-screen{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.startBtn{
    width: max-content;
    padding: 10px 8px;
    font-size: 1.4em;
}

.player-choices{
    display: inline;
}
.start-screen img{
    max-width: 800px;
}

.score-screen{
    font-size: 1.6em;
    padding: 16px 12px;
    display: flex;
    flex-direction: column;
    gap: .2em;
}

.main-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    min-height: 80vh;
    font-size: 2em;
    
}

.main-screen img{
    max-width: 220px;
}

.choices-container{
    display: flex;
    gap: 2em; 
}
.choices{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.selection-screen{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 65vh;
}
.selection{
    display: flex;
    font-size: 2em;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.outcome-text{
    text-align: center;
    font-size: 1.8em;
}

.ending-screen{
    font-size: 1.8em;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.ending-screen button{
    padding: 8px 10px;
    margin-top: 30px;
    font-size: .7em;
    border-radius: 6px;
}